$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1220px;

@import "./common/reset.scss";
@import "./common/body.scss";
@import "./common/helpers.scss";
