//Colores de parques
$greenXcaret: #009335;
$blueXelha: #00b7ff;
$orangeXplor: #ff7b00;
$orangeXplorFuego: #ff4401;
$purpleXoximilco: #df1a83;
$yellowXenses: #ffd600;
$yellowBorders: #ffc700;
$brownXichen: #7d0000;
$greenXenotes: #85a023;

//Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1220px;
