<template>
  <div class="bottom-footer">
    <div class="_container">
      <p>Xcaret - México, Chetumal - Puerto Juárez Federal Highway, Km. 282, Rancho Xcaret, Playa del Carmen, Quintana Roo. Mexico. CP 77710.</p>
      <p>Teléfono Cancún: 998-883-3143 www.xcaret.com/en/ Open Monday to Sunday from 8:30 a.m. to 10:30 p.m.</p>
      <p>&copy; Copyright 2019 Experiencias Xcaret Parques, S.A.P.I. de C.V</p>
      <!-- <img src="~gxcore/images/loading.svg"> -->
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.bottom-footer {
  background-color: rgba(0, 0, 0, 0.75);
  color: gray;
  padding: 1em;
  text-align: center;
  line-height: 1.2em;
  font-size: 0.8em;
}
</style>
