<template>
  <div class="_full-width _relative">
    <img class="brand-grupo" v-lazy="'/logotipo_grupo_xcaret.png'" alt>
    <div class="_full-width _flex logo-container">
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xelha.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xplor.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xoximilco.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xplor-fuego.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xenses.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xenotes.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/logo_xichen.svg'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/xavage-c.png'" alt="Xel Ha">
      </div>
      <div class="logo">
        <img class="img" v-lazy="'/logos/hotel-xcaret-b.png'" alt="Xel Ha">
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.brand-grupo {
  position: absolute;
  width: 10%;
  left: 45%;
  top: -3em;
}
.logo-container {
  flex-wrap: wrap;
  padding: 5em 0;
  align-items: center;
  justify-content: center;
  > .logo {
    flex-grow: 0;
    flex-basis: 14.2%;
    padding: 1em;
  }
  > .logo > .img {
    width: 100%;
  }
}
</style>
