<template>
  <div>
    <div class="call-center-container">
      <h5 class="call-center--h5">Customer service / Sales:</h5>
      <p
        class="call-center--p"
      >Monday to Friday from 7:00 AM to 12:00 AM / Saturday and Sunday from 7:00 AM to 10:00 PM. Local Time.</p>
      <strong class="call-center--strong">Toll free number within México</strong>
      <div class="_flex call-center-tels">
        <div class="call-center-tel--block">
          <a href="#" class="call-center-tel">USA-CAN: 1-855-326-0682</a>
        </div>
        <div class="call-center-tel--block">
          <a href="#" class="call-center-tel">Brazil: 0-800-892-3371</a>
        </div>
        <div class="call-center-tel--block">
          <a href="#" class="call-center-tel">Argentina: 0800-122-0384</a>
        </div>
        <div class="call-center-tel--block">
          <a href="#" class="call-center-tel">Colombia: 01-800-952-0705</a>
        </div>
        <div class="call-center-tel--block">
          <a href="#" class="call-center-tel">Spain: 900-965-224</a>
        </div>
        <div class="call-center-tel--block">
          <a href="#" class="call-center-tel">Chile: 0-800-835-016</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.call-center-container {
  width: 75%;
  margin-left: 25%;
  color: #fff;
}
.call-center--h5 {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 0.3em 0;
}
.call-center--p {
  margin: 2em 0;
}
.call-center--strong {
  font-weight: bold;
}
.call-center-tels {
  flex-wrap: wrap;
  margin-top: 2em;
}
.call-center-tel--block {
  flex-grow: 0;
  flex-basis: 33.33%;
  padding: 0.5em;
  text-align: center;
}
.call-center-tel {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 1em;
  background-color: #24592c;
  transition: background 500ms ease;
  &:hover {
    background-color: #bc3581;
  }
}
</style>
