<template>
  <div class="full-width">
    <img class="prize--img" v-lazy="'/reconocimientos_en.svg'" alt="Reconocimientos Xcaret">
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
  .prize--img{
    width: 100%;
  }
</style>
