<template>
  <div class="_full-width _flex sitemap-footer">
    <div class="_flex-same-width col">
      <h5 class="h5">About Us</h5>
      <a href="#" class="link">Sitemap</a>
      <a href="#" class="link">About Quintana Roo</a>
    </div>
    <div class="_flex-same-width col">
      <h5 class="h5">Xcaret Sites</h5>
      <a href="#" class="link">Blog Xcaret</a>
      <a href="#" class="link">Weddings</a>
      <a href="#" class="link">Groups</a>
    </div>
    <div class="_flex-same-width col">
      <h5 class="h5">Of Interest</h5>
      <a href="#" class="link">Have you visited us?</a>
      <a href="#" class="link">Haven't you visited us yet?</a>
      <a href="#" class="link">Social Responsability</a>
    </div>
    <div class="_flex-same-width col">
      <h5 class="h5">Other</h5>
      <a href="#" class="link">About Grupo Xcaret</a>
      <a href="#" class="link">Privacy Notice</a>
      <a href="#" class="link">Contact Us</a>
      <a href="#" class="link">Terms of use</a>
      <a href="#" class="link">Affiliates</a>
      <a href="#" class="link">Online Agencies</a>
      <a href="#" class="link">Press Room</a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.sitemap-footer {
  > .col {
    padding: 1em;
  }
  > .col > .h5 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.3em 0;
  }

  > .col > .link {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0.5em 0;
  }
}
</style>
