<template>
    <div class="bread-crumb">
        <template v-for="(crumb, key) in crumbBuild">
            <nuxt-link class="bread-crumb-link" :key="'link' + key" :to="localePath(crumb.route)">{{crumb.name}}</nuxt-link>
            <span class="bread-crumb-arrow" :key="'arrow' + key" v-if="key < last">&#8680;</span>
        </template>
    </div>
</template>

<script>
    import routeNames from '~/lang/routes';

    export default {
        props: {
            crumbs: {
                type: Array
            }
        },
        computed: {
            last(){
                return Object.keys(this.crumbs).length - 1;
            },
            crumbBuild(){
                const routes = routeNames[this.$i18n.locale];

                return this.crumbs.map(crumb => { 
                    return { name: routes[crumb], route: crumb }
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .bread-crumb-link{
        text-decoration: none;
        color: #fff;
    }
    .bread-crumb-arrow{
        color: #fff;
        padding: 0 0.5em;
    }
</style>