<template>
  <section class="carousel">
    <div class="shadow-up"></div>
    <div class="shadow-down"></div>
    <div class="item">
      <img class="img" v-lazy="'/slider/xcaret-majestic-paradise.jpg'" alt>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@mixin shadow() {
  position: absolute;
  z-index: 10;
  height: 20vh;
  width: 100%;
}

.carousel {
  width: 100%;
  overflow: hidden;
  > .shadow-up {
    @include shadow();
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6));
    top: 0;
  }
  > .shadow-down {
    @include shadow();
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45));
    bottom: 0;
  }

  > .item {
    max-height: 100vh;
  }

  > .item > .img {
    width: 100%;
  }
}
</style>
