<template>
  <div class="disconnect-alert">
    <p>
      <strong>Sin conexión</strong> ¡OUUUPS! al parecer te has quedado sin conexión, no te
      preocupes hemos guardado tus datos de compra para que una vez restablecida puedas continuar,
      puedes navegar en nuestro sitio por mientras sin problema
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.disconnect-alert {
  background-color: #ff5721;
  color: #fff;
  width: 400px;
  padding: 1em;
  position: fixed;
  right: 1em;
  bottom: 1em;
  line-height: 1.5em;
  font-size: 0.7em;
  z-index: 1000;
}
</style>
