<template>
    <div class="hero-static relative" :class="sizeClass" v-lazy:background-image="bg_image">
        <bread-crumb class="hero-static-crumbs" :crumbs="crumbs" />
    </div>
</template>

<script>
    import BreadCrumb from "./BreadCrumb"

    export default {
        components: {
            BreadCrumb
        },
        props: {
            bg_image: {
                type: String,
                required: true
            },
            crumbs: {
                type: Array
            },
            size: {
                type: String,
                default: "small"
            }
        },
        computed: {
            sizeClass(){
                return "hero-static--" + this.size
            }
        }
    }
</script>

<style lang="scss" scoped>
    .hero-static{
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-static--small{
        height: 60vh;
    }
    .hero-static--big{
        height: 100vh;
    }
    .hero-static-crumbs{
        position: absolute;
        bottom: 1em;
        left: 1em;
    }
</style>