<template>
  <div class="lazy-square">
    <div class="lazy-square-contenr">
      <div class="lazy-trans lazy-trans-1"></div>
      <div class="lazy-trans lazy-trans-2"></div>
      <div class="lazy-trans lazy-trans-3"></div>
      <div class="lazy-trans lazy-trans-4"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.lazy-square {
  background-color: green;
  width: 100%;
  padding-top: 40%;
  position: relative;
  font-size: 0;
  .lazy-square-contenr {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .lazy-trans {
    width: 50%;
    display: inline-block;
    height: 50%;
    background-color: white;
    animation: moveX 5s infinite;
  }
  .lazy-trans-1 {
    animation-delay: 0.5s;
  }
  .lazy-trans-2 {
    animation-delay: 1s;
  }
  .lazy-trans-3 {
    animation-delay: 1.5s;
  }
  .lazy-trans-4 {
    animation-delay: 2s;
  }
}

@keyframes moveX {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>