<template>
  <div class="full-width">
    <img src="~gxcore/images/three-dots.svg" alt class="loader-data-img">
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.loader-data-img {
  width: 100%;
}
</style>
