<template>
  <footer class="footer" v-lazy:background-image="'/footer-new.png'">
    <div class="_container _relative">
      <brand-footer class="_my-1"/>
      <social-footer class="_my-2"/>
      <sitemap-footer class="_my-1"/>
      <call-center-footer class="_my-1"/>
      <prize-footer class="_my-1"/>
    </div>
    <bottom-footer/>
  </footer>
</template>

<script>
import BrandFooter from "./footer/BrandFooter";
import SocialFooter from "./footer/SocialFooter";
import SitemapFooter from "./footer/SitemapFooter";
import CallCenterFooter from "./footer/CallCenterFooter";
import PrizeFooter from "./footer/PrizeFooter";
import BottomFooter from "./footer/BottomFooter";

export default {
  components: {
    BrandFooter,
    SocialFooter,
    SitemapFooter,
    CallCenterFooter,
    PrizeFooter,
    BottomFooter
  }
};
</script>

<style lang="scss" scoped>
.footer {
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100%;
}
</style>
