<template>
  <ul class="flex">
    <li class="top-header--option">
      <nuxt-link class="top-header--link" :to="localePath('index')">{{ $t('top_menu.home') }}</nuxt-link>
    </li>
    <li class="top-header--option">
      <nuxt-link class="top-header--link" :to="localePath('index')">
        <Logo/>
      </nuxt-link>
    </li>
    <li class="top-header--option">C</li>
    <no-ssr>
      <currency-switch class="top-header--option"/>
    </no-ssr>
    <language-switch class="top-header--option"/>
  </ul>
</template>

<script>
import LanguageSwitch from "./header/LanguageSwitch";
import Logo from "./header/Logo";
import messages from "~/lang";

export default {
  components: {
    LanguageSwitch,
    Logo,
    CurrencySwitch: () => import("./header/CurrencySwitch")
  },
  i18n: {
    // `i18n` option, setup locale info for component
    messages: messages
  }
};
</script>

<style lang="scss" scoped>
.top-header {
  width: 50%;
  margin-left: auto;
  padding: 1em;
  justify-content: flex-end;
  align-items: center;
}
.top-header--option {
  border-right: 1px solid #fff;
  text-align: center;
  padding: 0 0.8em;
  color: #fff;
  &:last-child {
    border-right: none;
  }
  .top-header--link {
    color: #fff;
    text-decoration: none;
  }
}
</style>
