<template>
  <div class="flex">
    <div class="flex-same-width">M</div>
    <div class="flex-same-width">M</div>
    <div class="flex-same-width">M</div>
    <div class="flex-same-width">M</div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>
