<template>
  <div id="navHeader" class="_flex _full-width nav-header" v-bind:class="{ '-fixed': isOnTop }">
    <logo/>
    <nav-menu/>
  </div>
</template>

<script>
import Logo from "./header/Logo";
import NavMenu from "./header/NavMenu";

export default {
  components: {
    Logo,
    NavMenu
  },
  data() {
    return {
      isOnTop: false
    };
  },
  mounted() {
    document.addEventListener("scroll", () => {
      const navHeader = document.getElementById("navHeader");

      if (window.scrollY > navHeader.scrollHeight) {
        this.toggleFixed(true);
      } else {
        this.toggleFixed(false);
      }
    });
  },
  methods: {
    toggleFixed(value) {
      this.isOnTop = value;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/varsSite.scss";

.nav-header {
  border-top: 1px solid #fff;
  padding: 0.2em 1em;
  align-items: center;
  justify-content: space-between;
  transition: background 500ms ease-in-out;

  &.-fixed {
    position: fixed;
    top: 0;
    border-top: none;
    background-color: $fixedHeader;
  }
}
</style>
