<template>
  <ul class="_flex top-header">
    <li class="option">
      <nuxt-link class="link" :to="localePath('index')">{{ $t('top_menu.home') }}</nuxt-link>
    </li>
    <li class="option">{{ $t('top_menu.faqs') }}</li>
    <li class="option">{{ $t('top_menu.customer') }}</li>
    <li class="option">C</li>
    <no-ssr>
      <currency-switch class="option"/>
    </no-ssr>
    <language-switch class="option"/>
  </ul>
</template>

<script>
import LanguageSwitch from "./header/LanguageSwitch";
import messages from "~/lang";

export default {
  components: {
    LanguageSwitch,
    CurrencySwitch: () => import("./header/CurrencySwitch")
  },
  i18n: {
    // `i18n` option, setup locale info for component
    messages: messages
  }
};
</script>

<style lang="scss" scoped>
.top-header {
  width: 50%;
  margin-left: auto;
  padding: 1em;
  justify-content: flex-end;
  align-items: center;
  > .option {
    border-right: 1px solid #fff;
    text-align: center;
    padding: 0 0.8em;
    color: #fff;
    &:last-child {
      border-right: none;
    }
  }
  > .option > .link {
    color: #fff;
    text-decoration: none;
  }
}
</style>
