<template>
  <div class="full-width">
    <header class="header">
      <top-header/>
      <nav-header/>
    </header>
    <main id="main" role="main">
      <slot name="main"/>
    </main>
    <footer-site/>
    <disconnect-alert v-if="!$nuxt.isOnline"/>
  </div>
</template>

<script>
import TopHeader from "../components/base/TopHeader";
import NavHeader from "../components/base/NavHeader";
import FooterSite from "../components/base/FooterSite.vue";
import DisconnectAlert from "../components/ui/DisconnectAlert.vue";

export default {
  components: {
    TopHeader,
    NavHeader,
    FooterSite,
    DisconnectAlert
  }
};
</script>

<style lang="scss">
@import "~/gxcore/scss/styles.scss";
@import "~/assets/scss/theme.scss";

.header {
  position: absolute;
  z-index: 15;
  top: 0;
  width: 100%;
}
</style>
