<template>
  <div class="full-width">
    <mobile-header-top class="header"/>
    <mobile-header-bottom class="header-bottom"/>
    <main id="main" role="main">
      <slot name="main"/>
    </main>
    <footer-site/>
    <disconnect-alert v-if="!$nuxt.isOnline"/>
  </div>
</template>

<script>
import MobileHeaderTop from "../components/base/MobileHeaderTop";
import MobileHeaderBottom from "../components/base/MobileHeaderBottom";
import NavHeader from "../components/base/NavHeader";
import FooterSite from "../components/base/FooterSite.vue";
import DisconnectAlert from "../components/ui/DisconnectAlert.vue";

export default {
  components: {
    MobileHeaderTop,
    MobileHeaderBottom,
    NavHeader,
    FooterSite,
    DisconnectAlert
  }
};
</script>

<style lang="scss">
@import "../scss/themes/xcaret.scss";

.header {
  position: absolute;
  z-index: 15;
  top: 0;
  width: 100%;
}
.header-bottom {
  position: fixed;
  height: 3em;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-color: green;
}
</style>
