<template v-if="$device.isDesktop">
  <div class="booking" :class="theme">
    <div class="booking-tab">Xcaret Admission</div>
    <div class="booking-body">
      <div v-if="$nuxt.isOnline">
        <div v-if="$device.isDesktop">Booking from Desktop</div>
        <div v-if="$device.isMobileOrTablet">Booking from Mobile or Tablet</div>
      </div>
      <div v-else class="booking-disconnect">
        <p>
          <strong>Sin conexión</strong> ¡OUUUPS! al parecer te has quedado sin conexión, no te
          preocupes hemos guardado tus datos de compra para que una vez restablecida puedas continuar,
          puedes navegar en nuestro sitio por mientras sin problema
        </p>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    theme: {
      type: String,
      default: "xcaret"
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/gxcore/scss/vars.scss";

.booking {
  .booking-tab {
    padding: 1em 0.5em;
    text-align: center;
    width: 15em;
    border-radius: 1em 1em 0 0;
    font-size: 0.9em;
  }
  .booking-body {
    padding: 1em;
  }
  &.xcaret {
    .booking-tab {
      color: #fff;
      background-color: $greenXcaret;
    }
    .booking-body {
      background-color: rgba(0, 0, 0, 0.75);
      color: #fff;
    }
  }
}
.booking-disconnect {
  color: #fff;
  background-color: red;
  padding: 0.5em;
  width: 100%;
  font-size: 0.8em;
}
</style>
