<template>
  <form class="_full-width">
    <slot name="tab"/>
    <template v-if="!loading">
      <div class="_flex buybox-form-row">
        <p class="_flex-same-width buybox-regular">{{$t('regular')}}</p>
        <p
          class="_flex-same-width buybox-regular buybox-price"
        >{{ 59 | toCurrency(currency, symbol) }}</p>
      </div>
      <div class="_flex buybox-form-row">
        <p class="_flex-same-width buybox-online">{{$t('online')}}</p>
        <p
          class="_flex-same-width buybox-online buybox-price"
        >{{ 49 | toCurrency(currency, symbol) }}</p>
      </div>
    </template>
    <loader-data v-else/>
    <div class="buybox-form-row">
      <select class="buybox--select _full-width" name="adults" v-model="buy.adults">
        <option value="0">{{$t('adult')}}</option>
        <option v-for="pax in 25" :key="'adult' + pax" :value="pax">{{pax}}</option>
      </select>
    </div>
    <div class="_flex buybox-form-row">
      <select class="_flex-same-width buybox--select" name="children" v-model="buy.children">
        <option value="0">{{$t('children')}}</option>
        <option v-for="pax in 25" :key="'adult' + pax" :value="pax">{{pax}}</option>
      </select>
      <date-picker
        v-model="buy.date"
        class="_flex-same-width buybox-date"
        :input-class="'buybox--input'"
        placeholder="Select your visit date"
      />
    </div>
    <template v-if="!loading">
      <div v-if="!loading" class="buybox-form-row">
        <p class="buybox-total">{{$t('total')}}</p>
        <p class="buybox-total">{{ 49 | toCurrency(currency, symbol) }}</p>
      </div>
    </template>
    <loader-data v-else/>
  </form>
</template>

<script>
import DatePicker from "vuejs-datepicker";
import { mapState } from "vuex";
import LoaderData from "~/gxcore/components/ui/LoaderData";

export default {
  components: {
    DatePicker,
    LoaderData
  },
  data() {
    return {
      loading: true,
      buy: {
        adults: 0,
        children: 0,
        date: null
      }
    };
  },
  computed: {
    ...mapState({
      currency(state) {
        this.doCurrencyExchange(state.currency);
        return state.currency;
      },
      currencies: "currencies",
      symbol: state => {
        return state.currencies.find(el => el.code === state.currency).symbol;
      }
    })
  },
  filters: {
    toCurrency(value, currency, symbol) {
      let result = parseFloat(value).toFixed(2);
      return symbol + " " + result + currency;
    }
  },
  mounted() {
    this.doCurrencyExchange(this.$store.state.currency);
  },
  methods: {
    doCurrencyExchange(currency) {
      this.loading = true;
      this.$axios
        .$get("/api/prices", { params: { currency } })
        .then(response => {
          setTimeout(() => {
            this.loading = false;
            console.log("Axios called", response);
          }, 2000);
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
        });
    }
  }
};
</script>

<i18n>
  {
    "es": {
      "regular": "Precio regular",
      "online": "Precio en línea",
      "adult": "Adultos",
      "children": "Niños",
      "total": "Total"
    },
    "en": {
      "regular": "Regular price",
      "online": "Online price",
      "adult": "Adults",
      "children": "Children",
      "total": "Total"
    }
  }
</i18n>

<style lang="scss" scoped>
@import "~/gxcore/scss/vars.scss";

.buybox-form-row {
  margin-top: 1em;
  margin-bottom: 1em;
}
.buybox-regular {
  text-decoration: line-through;
  color: #6e766a;
  font-size: 0.8em;
}
.buybox-online {
  color: $greenXcaret;
  font-size: 1.2em;
}
.buybox-total {
  color: $greenXcaret;
  font-size: 1.5em;
  text-align: center;
  display: block;
}
.buybox-price {
  text-align: right;
}
.buybox-date {
  /deep/ .buybox--input {
    border: 1px solid #6e766a;
    color: #000;
    background-color: #fff;
    border-radius: 0.3125em;
    height: 3em;
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
  }
}
.buybox--select {
  border: 1px solid #6e766a;
  color: #000;
  background-color: #fff;
  border-radius: 0.3125em;
  height: 3em;
  font-size: 0.9em;
  padding: 1em;
}
</style>
