* {
  box-sizing: border-box;
}

._flex {
  display: flex;
}

._block {
  display: block;
}

._flex-same-width {
  flex-grow: 1;
  flex-basis: 0;
}

._full-container {
  width: 100%;
  padding: 0 0.9em;
}

._full-width {
  width: 100%;
}

._relative {
  position: relative;
}

._absolute {
  position: absolute;
}

._text-center {
  text-align: center;
}

._container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

._my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

._my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

._my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}
