<template>
  <li class="currency-switch" @click="dropdownToggle()">
    {{currency}}
    <ul v-if="dropdown" class="currency-dropdown">
      <li
        v-for="currencyOpt in currencies"
        :key="currencyOpt.code"
        class="option"
        @click="changeCurrency(currencyOpt.code)"
      >
        <span>{{currencyOpt.code}}</span>
      </li>
    </ul>
  </li>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      dropdown: false
    };
  },
  beforeCreate() {
    this.$store.commit("INITIAL_CURRENCY");
  },
  computed: mapState(["currency", "currencies"]),
  methods: {
    changeCurrency(currency) {
      this.$store.commit("SET_CURRENCY", currency);
    },
    dropdownToggle() {
      this.dropdown = !this.dropdown;
    }
  }
};
</script>

<style lang="scss" scoped>
.currency-switch {
  cursor: pointer;
}
.currency-dropdown {
  position: absolute;
  background-color: white;
  top: 2.5em;
  right: 0;
  width: 8em;
  display: flex;
  flex-wrap: wrap;
  > .option {
    flex-basis: 50%;
    flex-grow: 0;
    padding: 0.5em 0;
    color: #000;
    transition: all 500ms ease-in-out;
    &:hover {
      background-color: #efedee;
    }
  }
}
</style>
