<template>
  <li @click="dropdownToggle" class="_relative language-switch">
    <img v-if="$i18n.locale === 'es'" src="/flags/espaniol.png" alt>
    <img v-if="$i18n.locale === 'en'" src="/flags/english.png" alt>
    <ul v-if="dropdown && !slugParams.hasSlug" class="language-dropdown">
      <li v-if="$i18n.locale !== 'es'" class="option">
        <nuxt-link class="link" :to="switchLocalePath('es')">
          <img class="img" src="/flags/espaniol.png" alt>
          <span class="text">Es</span>
        </nuxt-link>
      </li>
      <li v-if="$i18n.locale !== 'en'" class="option">
        <nuxt-link class="link" :to="switchLocalePath('en')">
          <img class="img" src="/flags/english.png" alt>
          <span class="text">En</span>
        </nuxt-link>
      </li>
    </ul>
    <ul v-if="dropdown && slugParams.hasSlug" class="language-dropdown">
      <li v-if="$i18n.locale !== 'es'" class="option">
        <nuxt-link
          class="link"
          :to="localePath({name: slugParams.routeName, params: { slug: slugParams.transSlugs['es'] } }, 'es')"
        >
          <img class="img" src="/flags/espaniol.png" alt>
          <span class="text">Es</span>
        </nuxt-link>
      </li>
      <li v-if="$i18n.locale !== 'en'" class="option">
        <nuxt-link
          class="link"
          :to="localePath({name: slugParams.routeName, params: { slug: slugParams.transSlugs['en'] } }, 'en')"
        >
          <img class="img" src="/flags/english.png" alt>
          <span class="text">En</span>
        </nuxt-link>
      </li>
    </ul>
  </li>
</template>

<script>
import { activities } from "~/lang/";
import slugRoutes from "~/lang/routes";

export default {
  data() {
    return {
      dropdown: false
    };
  },
  computed: {
    slugParams: function() {
      if (/slug/i.test(this.$route.name)) {
        const routeName = String(this.$route.name).slice(
          0,
          String(this.$route.name).length - 5
        );

        const slug = this.$route.params.slug;
        const localeRouteSlugs = slugRoutes[this.$i18n.locale][routeName];

        const sectionName = Object.keys(localeRouteSlugs).find(key => {
          return localeRouteSlugs[key] == slug;
        });

        let transSlugs = {};

        if (sectionName) {
          transSlugs = Object.keys(slugRoutes)
            .filter(key => key !== this.$i18n.locale)
            .reduce((obj, key) => {
              obj[key] = slugRoutes[key][routeName][sectionName];
              return obj;
            }, {});
        }

        return {
          hasSlug: true,
          routeName,
          slug,
          sectionName,
          transSlugs
        };
      } else {
        return { hasSlug: false };
      }
    }
  },
  methods: {
    dropdownToggle() {
      this.dropdown = !this.dropdown;
    }
  }
};
</script>

<style lang="scss" scoped>
.language-switch {
  cursor: pointer;
}
.language-dropdown {
  position: absolute;
  background-color: white;
  top: 2.5em;
  right: 0;
  width: 8em;
  > .option > .link {
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    &:hover {
      background-color: #efedee;
    }
  }
  > .option > .link > .text {
    color: black;
  }
}
</style>
