<template>
  <div class="header-logo">
    <img class="img" src="/xcaret-logo.png" alt="Logotipo Xcaret">
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.header-logo {
  max-width: 300px;
  > .img {
    width: 100%;
  }
}
</style>
