<template>
  <ul class="_flex nav-menu">
    <li class="option">{{ $t('nav_menu.about') }}</li>
    <li class="option">{{ $t('nav_menu.more_parks') }}</li>
    <li class="option">
      <nuxt-link class="link" :to="localePath('activities')">{{ $t('nav_menu.activities') }}</nuxt-link>
    </li>
    <li class="option">{{ $t('nav_menu.hotel') }}</li>
  </ul>
</template>

<script>
import messages from "~/lang/";

export default {
  i18n: {
    // `i18n` option, setup locale info for component
    messages: messages
  }
};
</script>

<style lang="scss" scoped>
.nav-menu {
  > .option {
    padding: 0 1em;
    text-align: center;
    color: #fff;
  }
  > .option > .link {
    color: #fff;
    text-decoration: none;
  }
}
</style>
